.signup{
    width: 100%;
    height: 100vh;
}
.column{
    height: 100vh;
}

.sign-up-heading{
    font-size: 100px;
}
/* .col-left{
    border-left: 1px solid black;
} */
.btn-signup{
    background-color: black;
    color: white !important;
    border: none;
    outline: none;

}

.sign-up-heading img {
   width: 400px;
  }
  
  /* signin css */
  .login{
    font-size: 30px;
  }